{% extends "AppBundle::layout.html.twig" %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    <section class="search-banner head-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ include('AppBundle:common:_searchBoxFull.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
