{% extends "AppBundle::layout.html.twig" %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    <section class="search-banner head-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ include('AppBundle:common:_searchBoxFull.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="line-hr"></span>
                    <h5>Wyszukiwany objaw: <span class="red-text">łzawienie</span></h5>
                    <div class="select-category">
                        Kategoria:
                        <ul>
                            <li class="red">A</li>
                            <li class="green">C</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <article class="col-xs-12">
                    <h6>Urazy</h6>
                    <h4>Oparzenia chemiczne i termiczne</h4>
                    <div class="disise-img" style="background-image: url({{asset('assets/images/chore_oko.jpg')}})"></div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}
