{% extends "AppBundle::layout.html.twig" %}

{% block title %}Wyniki wyszukiwania{% endblock %}

{% block body %}
    <section class="search-banner head-banner">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {{ include('AppBundle:common:_searchBoxFull.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <section class="search">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <span class="line-hr"></span>
                    <h5>Wyszukiwany objaw: <span class="red-text">łzawienie</span></h5>
                    <div class="select-category clearfix">

                        <ul>
                            <li class="category">Kategoria:</li>
                            <li class="red">A</li>
                            <li class="yellow">B</li>
                            <li class="green">C</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <article class="disease">
                        <h2 class="category">Urazy</h2>
                        <h4 class="title">Oparzenia chemiczne i termiczne</h4>
                        <div class="disise-img" style="background-image: url({{asset('assets/images/chore_oko.jpg')}})"></div>
                        <div class="row">
                            <span class="subtitle col-xs-12">Objawy:</span>
                            <p class="col-xs-12 content">wywiad w kierunku urazu, silny ból gałki ocznej, pogorszenie ostrości wzroku, uszkodzenie struktur gałki ocznej widoczne w świetle rozproszonym</p>
                        </div>
                        <div class="row">
                            <span class="subtitle col-xs-12">Zalecenia:</span>
                            <p class="col-xs-12 content">ocena ostrości wzroku do dali, trzeba zasłonić gałkę oczną jałowym opatrunkiem, pacjenta należy pilnie odesłać na ostry dyżur okulistyczny</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="comments"><b>Uwaga!</b><br/> Nie można uciskać gałki ocznej</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-5">
                                <span class="type-A">A</span><span class="red"> tryb pilny</span>
                            </div>
                            <div class="col-xs-7">
                                <div class="button-ext">Zwiń zalecenia</div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
