<div class="container advertice">
    <hr/>
    <aside>
        Reklama<br />
        <img src="{{asset('assets/images/adv.jpg')}}" alt="Reklama" class="img-responsive"/>
    </aside>
    <hr/>
</div>