<div class="container advertice">
    <hr/>
    <aside>
        <div class="row">
            <div class="col-lg-offset-1 col-lg-10">
                Reklama<br />
                <img src="{{asset('assets/images/adv.jpg')}}" alt="Reklama" class="img-responsive"/>
            </div>
        </div>
    </aside>
    <hr/>
</div>