<div class="container helpfull-info">
    <div class="row">
        <h2>Przydatne informacje</h2>
    </div>
    <div class="row">
        {%if show.disise%}
        <div class='col-md-6 help-box'>
            <article class="disise">
                <div class="image"></div>
                <div class="content clearfix">
                    <h3>Schorzenia</h3>
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. 
                        Fusce pharetra convallis urna. Cras varius. Etiam ultricies nisi vel augue. 
                        Phasellus a est. Praesent vestibulum dapibus nibh. Sed augue ipsum, 
                        egestas nec, vestibulum et, malesuada adipiscing, dui.
                    </p>
                    <a href="#" class="read-more">Czytaj więcej</a>
                </div>

            </article>
        </div>
        {%endif%}
        {%if show.exam%}
        <div class='col-md-6 help-box'>
            <article class="exam">
                <div class="image"></div>
                <div class="content clearfix">
                    <h3>Badania narządów wzroku</h3>
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. 
                        Fusce pharetra convallis urna. Cras varius. Etiam ultricies nisi vel augue. 
                        Phasellus a est. Praesent vestibulum dapibus nibh. Sed augue ipsum, 
                        egestas nec, vestibulum et, malesuada adipiscing, dui.
                    </p>
                    <a href="#" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
        {%if show.medicine%}
        <div class='col-md-6 help-box'>
            <article class="medicine">
                <div class="image"></div>
                <div class="content clearfix">
                    <h3>Rodzaje stosowanych leków</h3>
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. 
                        Fusce pharetra convallis urna. Cras varius. Etiam ultricies nisi vel augue. 
                        Phasellus a est. Praesent vestibulum dapibus nibh. Sed augue ipsum, 
                        egestas nec, vestibulum et, malesuada adipiscing, dui.
                    </p>
                    <a href="#" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
        {%if show.info%}
        <div class='col-md-6 help-box'>
            <article class="info">
                <div class="image"></div>
                <div class="content clearfix">
                    <h3>Informacje o lekach</h3>
                    <p>
                        Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. 
                        Fusce pharetra convallis urna. Cras varius. Etiam ultricies nisi vel augue. 
                        Phasellus a est. Praesent vestibulum dapibus nibh. Sed augue ipsum, 
                        egestas nec, vestibulum et, malesuada adipiscing, dui.
                    </p>
                    <a href="#" class="read-more">Czytaj więcej</a>
                </div>
            </article>
        </div>
        {%endif%}
    </div>
</div>
