<aside class="search-box">
    <form action="{{path('search')}}" method="GET">
        <h2>Sprawdź zalecenia terapeutyczne</h2>
        <div class="form-box clearfix">
            <label>Pacjent</label>
            <div class="nice-radio clearfix">
                <input type="radio" id="search-box-patient-child" name="search[patient]" value="1"/>
                <label class="nice" for="search-box-patient-child">Dziecko</label>
                <input type="radio" id="search-box-patient-adult" name="search[patient]" value="2"/>
                <label class="nice" for="search-box-patient-adult">Dorosły</label>
            </div>
        </div>
        <div class="form-box secend symptomsInput">
            <label>Wpisz typowy objaw</label>
            <input id="symptom" type="text" name="search[search]" autocomplete="off" />
            <div class="symptomsAutoComplete">
                <ul></ul>
            </div>
        </div>
        <div class="form-box">
            <label class="text-center">lub</label>
            <label>Wybierz schorzenie z listy</label>
            <select name="search[disease]">
                {{ render(controller('AppBundle:Search:renderOptionSearch')) }}
            </select>
        </div>
        <div class="form-box text-center">
            <input type="submit" class="submit" value="Sprawdź wytyczne" /> 
        </div>
        <input id="symptomURL" type="hidden" value="{{path('symptoms-search')}}" />
    </form>
</aside>
