#Cache
/app/cache/*
!app/cache/.gitkeep
/app/bootstrap.php.cache
/composer.lock

#Logs
/app/logs/*
!app/logs/.gitkeep

#Config
/app/config/parameters.yml

#Vendors
/vendor
/node_modules
/web/assets/vendor

#others
/nbproject
.idea/
.DS_Store
