#Cache
/app/cache/*
!app/cache/.gitkeep
/app/bootstrap.php.cache
/composer.lock

#Logs
/app/logs/*
!app/logs/.gitkeep
/log

#Config
/app/config/parameters.yml

#Vendors
/vendor
/node_modules
/web/vendor

#uploads
/web/uploads
!/web/uploads/.gitkeep

#others
/nbproject
.idea/
.DS_Store
