{% extends "AppBundle::layout.html.twig" %}

{% block title %}Poradnia Okulistyczna{% endblock %}

{% block body %}
    <section class="home-banner head-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-7 col-lg-5 col-md-offset-6 col-md-6 col-sm-offset-5 col-sm-7 col-xs-12">
                    {{ include('AppBundle:common:_searchBox.html.twig') }}
                </div>
            </div>
        </div>
    </section>
    <section class="home">
        <div class="container content-row">
            <div class="row">
                <article class="col-sm-6 col-md-5">
                    <span class="line-hr"></span>
                    <h1>Okulistyczny przewodnik</h1>
                </article>
                <article class="col-sm-6 col-md-7 content">
                    <p>Okulistyczny przewodnik diagnostyczno – terapeutyczny został opracowany przez Zespół lekarzy z Katedry i Kliniki Okulistyki II Wydziału Lekarskiego Warszawskiego Uniwersytetu Medycznego i Samodzielnego Publicznego Klinicznego Szpitala Okulistycznego w Warszawie.</p> 
                    <p>Ma on na celu przybliżyć lekarzom rodzinnympodstawowe zasady badania okulistycznego i wstępne procedury diagnostyczno-terapeutyczne, które mogą być wykorzystywane w codziennej praktyce lekarskiej. Opracowanie ułatwi lekarzowi rodzinnemu postawienie wstępnej diagnozy i podjęcie decyzji o dalszym postępowaniu.</p> 
                </article>
            </div>
        </div>
    </section>   
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':1, 'exam':1, 'medicine':1, 'info':1}}) }}
    <!--Helpfull informations end-->
{% endblock %}