{% extends "AppBundle::layout.html.twig" %}

{% block title %}Badania narządów wzroku{% endblock %}

{% block body %}
    <div class="exam">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li>Badania narządów wzroku</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1>Badania narządów wzroku</h1>
                </div>
            </div>
            <div class="row m-bottom-50">
                
                <div class="col-sm-6 col-md-6">
                    <ul class="dosage">
                        <li>
                            <h2>Ostrość wzroku w korekcji własnej pacjenta do dali i bliży sprawdzana dla każdego oka oddzielnie</h2>
                        </li>
                        <li>
                            <h2>Badania odcinka przedniego w świetle rozproszonym z ewentualnym poddaniem fluoresceiny do worka spojówkowego</h2>
                            <ul class="list">
                                <li>ocena ruchomości gałek ocznych i dwojenia</li>
                                <li>ocena aparatu ochronnego oka</li>
                                <li>ocena przezierności rogówki</li>
                                <li>ocena szerokości źrenic i ich ruchomości</li>
                                <li>badanie palpacyjne napięcia gałek ocznych (orientacyjne badanie ciśnienia śródgałkowego)</li>
                            </ul>
                        </li>
                    </ul>
                    <img src="{{asset('assets/images/badanie_big.jpg')}}" class="img-responsive" />
                </div>
                <div class="col-sm-6 col-md-offset-1 col-md-4 right">
                    <h2>Podstawowe techniki badania okulistycznego</h2>
                    <h3>Ocena ostrości wzroku do dali i bliży</h3>
                    <ul class="list">
                        <li>każde oko badamy oddzielnie</li>
                        <li>optotyp na tablicach Snellena są odczytywane z odległości 5 metrów w korekcji własnej pacjenta</li>
                        <li>optotyp na tablicach Snellena są odczytywane z odległości 30-40 cm w korekcji własnej pacjenta</li>
                    </ul>
                    <h3>Ocena powierzchni gałek ocznych i powiek w świetle rozproszonym</h3>
                    <ul class="list">
                        <li>za pomocą latarki lub wziernika bezpośredniego</li>
                        <li>barwnie paskiem fluorescencyjnym w załamku dolnym spojówki w celu oceny ubytków nabłonka spojówki i rogówki</li>
                    </ul>
                    <h3>Płukanie gałki ocznej solą fizjologiczną - 0,9% NaCl</h3>
                    <h3>Ocena powierzchni gałek ocznych i powiek w świetle rozproszonym</h3>
                    <ul class="list">
                        <li>za pomocą latarki lub wziernika bezpośredniego</li>
                        <li>barwnie paskiem fluorescencyjnym w załamku dolnym spojówki w celu oceny ubytków nabłonka spojówki i rogówki</li>
                    </ul>
                    <h3>Masaż okolicy woreczka łzowego</h3>
                    <ul class="list">
                        <li>ucisk poniżej konta przyśrodkowego</li>
                        <li>ruch w kierunku od góry do nosa</li>
                    </ul>
                    <h3>"Cover test"</h3>
                    <ul class="list">
                        <li>oboje oczu są otwarte - naprzemiennie zasłania się każde oko i obserwuje ewentualny ruch nastawczy oczu</li>
                    </ul>
                    <h3>Ocena ruchomości gałek ocznych we wszystkich kierunkach i ocena dwojenia</h3>
                    <h3>Ocena refleksu z dna oka</h3>
                    <ul class="list">
                        <li>za pomocą latarki lub wziernika bezpośredniego</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':1, 'exam':0, 'medicine':1, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
