{% extends "AppBundle::layout.html.twig" %}

{% block title %}Przewodnik okulistyczny - Rodzaje stosowanych leków{% endblock %}

{% block body %}
    <div class="medicine-sort">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li>Rodzaje stosowanych leków</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Rodzaje stosowanych leków</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-box">
                        <li>
                            <h2>Leki przeciwbakteryjne</h2>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="medicine-list">
                                            <li class="active" data-medicine="medicine-1">Fluorochinolony</li>
                                            <li data-medicine="medicine-2">Aminoglikozydy</li>
                                            <li data-medicine="medicine-3">Makrolidy</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-1 active">
                                        <h3>Ofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oflodinex krople do oczu – 3 mg/ml</li>
                                            <li>Floxal krople i maść do oczu – 3 mg/ml</li>
                                            <li>Ofloxacin-POS krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Ciprofloksacyna</h3>
                                        <ul class="list">
                                            <li>Cipronex 0,3% krople do oczu – 3 mg/ml</li>
                                            <li>Cipronex krople i maść do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Lewofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oftaquix, Oftaquix sine krople do oczu – 5 mg/ml</li>
                                        </ul>
                                        <h3>Norfloksacyna</h3>
                                        <ul class="list">
                                            <li>Chibroxin krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Moksyfloksacyna</h3>
                                        <ul class="list">
                                            <li>Vigamox krople do oczu – 5 mg/ml</li>
                                            <li></li>
                                        </ul>
                                        <h3 class="red-text m-bottom-10">Leki miejscowe dopuszczone do stosowania w leczeniu zakażeń oczu u dzieci, które ukończyły 1 rok życia:</h3>
                                        <h3>Ciprofloksacyna</h3>
                                        <ul class="list">
                                            <li>Cipronex 0,3% krople do oczu – 3 mg/ml</li>
                                            <li>Ciloxan krople i maść do oczu – 3 mg/ml)</li>
                                        </ul>
                                        <h3>Lewofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oftaquix, Oftaquix sine krople do oczu – 5 mg/ml</li>
                                        </ul>
                                        <h3>Moksyfloksacyna</h3>
                                        <ul class="list">
                                            <li>Vigamox krople do oczu – 5 mg/ml</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-2">
                                        <h3>Amikacyna</h3>
                                        <ul class="list">
                                            <li>Biodacyna Ophthalmicum 0,3% krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Gentamycyna</h3>
                                        <ul class="list">
                                            <li>Gentamicin WZF 0,3% krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Tobramycyna</h3>
                                        <ul class="list">
                                            <li>Tobrex 0,3% krople i maść do oczu – 3 mg/ml</li>
                                            <li>Tobrexan 0,3% krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Neomycyna</h3>
                                        <ul class="list">
                                            <li>Neomycinum 0,5% maść do oczu</li>
                                        </ul>
                                        <h3 class="red-text m-bottom-10">Leki miejscowe dopuszczone do stosowania w leczeniu zakażeń oczu u dzieci, które ukończyły 1 rok życia:</h3>
                                        <h3>Gentamycyna</h3>
                                        <ul class="list">
                                            <li>Gentamicin WZF 0,3% krople do oczu – 3 mg/ml</li>
                                        </ul>
                                        <h3>Tobramycyna</h3>
                                        <ul class="list">
                                            <li>Tobrex 0,3% krople i maść do oczu – 3 mg/ml</li>
                                            <li>Tobrexan 0,3% krople do oczu – 3 mg/ml</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-3">
                                        <h3>Azytromycyna</h3>
                                        <ul class="list">
                                            <li>Azyter krople do oczu – 15 mg/g</li>
                                        </ul>
                                        <h3>Erytromycyna</h3>
                                        <ul class="list">
                                            <li>Cusi Erythromycin 0,5% maść do oczu</li>
                                        </ul>
                                        <h3 class="red-text m-bottom-10">Leki miejscowe dopuszczone do stosowania w leczeniu zakażeń oczu u dzieci, które ukończyły 1 rok życia:</h3>
                                        <h3>Azytromycyna</h3>
                                        <ul class="list">
                                            <li>Azyter krople do oczu – 15 mg/g – można stosować od okresu noworodkowego</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2>Preparaty złożone - antybiotyk + steroid</h2>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="medicine-list">
                                            <li class="active" data-medicine="medicine-4">Fludrokortyzon + antybiotyk</li>
                                            <li data-medicine="medicine-5">Hydrokortyzon + antybiotyk</li>
                                            <li data-medicine="medicine-6">Deksametazon + antybiotyk</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-4 active">
                                        <h3>Dicortineff – zawiesina do oczu i uszu, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>2,5 mg neomycyny</li>
                                            <li>0,025 mg gramicydyny</li>
                                            <li>1 mg fludrokortyzonu</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-5">
                                        <h3>Atecortin – zawiesina do oczu i uszu, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>5 mg oksytetracykliny</li>
                                            <li>10 000 j.m. polimyksyny B</li>
                                            <li>15 mg hydrokortyzonu</li>
                                        </ul>
                                        <h3>Oxycort A – maść do oczu, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>10 mg hydrokortyzonu</li>
                                            <li>10 mg oksytetracykliny</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-6">
                                        <h3>Tobrosopt DEX – krople do oczu, zawiesina, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>3 mg tobramycyny</li>
                                            <li>1 mg deksametazonu</li>
                                        </ul>
                                        <h3>Tobradex – krople do oczu, zawiesina, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>3 mg tobramycyny</li>
                                            <li>1 mg deksametazonu</li>
                                        </ul>
                                        <h3>Maxitrol – krople do oczu, zawiesina, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>1 mg deksametazonu</li>
                                            <li>3,5 mg neomycyny</li>
                                            <li>6000 j.m. polimyksyny B</li>
                                            <li>5 mg hydroksypropylometylocelulozy</li>
                                        </ul>
                                        <h3>Maxitrol – maść do oczu, 1 g zawiera:</h3>
                                        <ul class="list">
                                            <li>1 mg deksametazonu</li>
                                            <li>3,5 mg neomycyny</li>
                                            <li>6000 j.m. polimyksyny B</li>
                                        </ul>
                                        <h3>Dexamytrex – krople do oczu, 1 ml zawiera:</h3>
                                        <ul class="list">
                                            <li>1 mg soli sodowej fosforanu deksametazonu</li>
                                            <li>5 mg siarczanu gentamycyny</li>
                                        </ul>
                                        <h3>Dexamytrex – maść do oczu, 1 g zawiera:</h3>
                                        <ul class="list">
                                            <li>0,3 mg deksametazonu</li>
                                            <li>5 mg siarczanu gentamycyny 3 g</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2>Leki przeciwwirusowe</h2>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="medicine-list">
                                            <li class="active" data-medicine="medicine-7">Podawane miejscowo</li>
                                            <li data-medicine="medicine-8">Podawane ogólnie</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-7 active">
                                        <h3>Acyklowir</h3>
                                        <ul class="list">
                                            <li>Zovirax maść do oczu – 30 mg/g</li>
                                            <li>Virolex maść do oczu – 30 mg/g</li>
                                            <li>Viru-POS maść do oczu – 30 mg/g</li>
                                        </ul>
                                        <h3>Gancyklowir</h3>
                                        <ul class="list">
                                            <li>Virgan żel do oczu – 1,5 mg/g</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border medicine-8">
                                        <h3>Heviran tabl. 200, 400, 800 mg</h3>
                                        <h3>Hascovir tabl. 200, 400, 800 mg</h3>
                                        <h3>Zovirax tabl. 200 mg</h3>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--Advertice -->
    {{ render(controller('AppBundle:Common:advertice')) }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':1, 'exam':1, 'medicine':0, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
