{% extends "AppBundle::layout.html.twig" %}

{% block title %}Rodzaje stosowanych leków{% endblock %}

{% block body %}
    <div class="medicine-sort">
        <div id="breadcrumb">
            <div class="container">
                <ul>
                    <li><a title="" href="{{path('home')}}">Strona główna <i class="fa fa-angle-right"></i></a></li>
                    <li>Rodzaje stosowanych leków</li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Rodzaje stosowanych leków</h1>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <ul class="list-box">
                        <li>
                            <h2>Leki przeciwbakteryjne</h2>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <ul class="medicine-list">
                                            <li>Fluorochinolony</li>
                                            <li>Aminoglikozydy</li>
                                            <li>Makrolidy</li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-8 border">
                                        <h3>Ofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oflodinex krople do oczu - 3 mg/ml</li>
                                            <li>Floxal krople i maść do oczu - 3 mg/ml</li>
                                            <li>Ofloxacin-POS krople do oczu - 3 mg/ml</li>
                                        </ul>
                                        <h3>Ciprofloksacyna</h3>
                                        <ul class="list">
                                            <li>Cipronex 0,3% krople do oczu - 3 mg/ml</li>
                                            <li>Cipronex krople i maść do oczu - 3 mg/ml</li>
                                        </ul>
                                        <h3>Lewofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oftaquix, Oftaquix sine krople do oczu - 5 mg/ml</li>
                                        </ul>
                                        <h3>Norfloksacyna</h3>
                                        <ul class="list">
                                            <li>Chibroxin krople do oczu - 3 mg/ml</li>
                                        </ul>
                                        <h3>Moksyfloksacyna</h3>
                                        <ul class="list">
                                            <li>Vigamox krople do oczu - 5 mg/ml</li>
                                            <li></li>
                                        </ul>
                                        <h3 class="red-text m-bottom-10">Leki miejscowe dopuszczone do stosowania w leczeniu zakażeń oczu u dzieci, które ukończyły 1 rok życia:</h3>
                                        <h3>Ofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oflodinex krople do oczu - 3 mg/ml</li>
                                            <li>Floxal krople i maść do oczu - 3 mg/ml</li>
                                            <li>Ofloxacin-POS krople do oczu - 3 mg/ml</li>
                                        </ul>
                                        <h3>Lewofloksacyna</h3>
                                        <ul class="list">
                                            <li>Oftaquix, Oftaquix sine krople do oczu - 5 mg/ml</li>
                                        </ul>
                                        <h3>Moksyfloksacyna</h3>
                                        <ul class="list">
                                            <li>Vigamox krople do oczu - 5 mg/ml</li>
                                            <li></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2>Preparaty złożone - antybiotyk + steroid</h2>
                        </li>
                        <li>
                            <h2>Leki przeciwwirusowe</h2>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':1, 'exam':1, 'medicine':0, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
