//Body ------------------------------------------------------------------
body {
    &.slide-right{
        animation-name: body;
        animation-duration: 0.7s;
        animation-delay: 0s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
    }
}