.advertice{
    text-align: center;
    margin-bottom: 15px;

    aside{
        color: #4c6472;
        font-size: 16px;
        text-align: left;

        img {
            margin: 9px auto 0 auto;
            @media(min-width: @screen-lg-min){
                margin: 9px 0 0 0;
            }
        }
    }
}

.helpfull-info {
    margin-bottom: 30px;

    h2 {
        color: @black;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 0;
        line-height: 40px;
    }

    .help-box{
        padding-top:15px;
        padding-bottom:15px;

        article{
            border: 1px @gray solid;
            min-height: 476px;

            &:hover{
                .box-shadow(0px 5px 35px -13px rgba(0,0,0,0.75));
            }

            &.disise{
                .image {
                    background-image: url('../images/oko.jpg');
                }
            }

            &.exam{
                .image {
                    background-image: url('../images/badanie.jpg');
                }
            }

            &.medicine{
                .image {
                    background-image: url('../images/lek.jpg');
                }
            }

            &.info{
                .image {
                    background-image: url('../images/kropelka.jpg');
                }
                
                h3{
                    @media(min-width: @screen-md-min){
                        height: 92px;
                    }
                }
            }


            .content{
                padding: 12px 15px 10px 15px;

                @media(min-width: @screen-md-min){
                    padding: 25px 30px 30px 25px;
                }

                a:hover {
                    text-decoration: none;
                }

                h3{
                    font-family: 'PlayfairDisplay-Bold';
                    font-size: 34px;
                    line-height: 46px;
                    color: @black;
                    margin-bottom: 25px;
                    margin-top: 0;

                    @media (min-width: @screen-sm-min) and (max-width: @screen-md-max) {
                        min-height: 96px;
                    }
                }

                p{
                    font-size: 16px;
                    line-height: 22px;
                    color: #4c6472;   
                }

                .read-more{
                    font-family: 'SolomonSans-SemiBold';
                    float: right;
                    font-size: 16px;
                    line-height: 22px;
                }
            }

            .image {
                width: 100%;
                height: 250px;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }

}

.head-banner{
    height: 475px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: 17% -185px;
    background-repeat: no-repeat;

    @media(min-width: @screen-sm-min){
        background-position: 35% 50%;
        height: 585px;
        margin-bottom: 35px;
    }

    &.home-banner{
        background-image: url('../../assets/images/banner.jpg');
    }

    &.search-banner{
        background-image: url('../../assets/images/banner.jpg');

        @media(min-width: @screen-sm-min){
            background-image: url('../../assets/images/banner_tight.jpg');
            background-position: 60% 50%;
            height: 180px;
        }
    }
}

.search-box{
    padding: 23px 14px 15px 14px;
    margin-top: 70px;
    height: 520px;
    background-color: @red-bg;
    border: 1px @gray solid;
    color: @white;
    .box-shadow(0px 5px 35px -13px rgba(0,0,0,0.75));

    @media(min-width: @screen-sm-min){
        padding: 30px 30px 0 30px;
        margin-top: 30px;

        &.search-result{
            padding: 25px 19px 0 19px;
            margin-top: 74px;
            margin-bottom: 30px;
            height: 360px;

            @media(min-width: @screen-lg-min){
                height: 273px;
            }

            h2{
                text-align: center;
                margin-bottom: 18px;
            }

            .form-box{

                &.patient{
                    text-align: center;
                    label{
                        text-align: center;
                    }

                    @media(min-width: @screen-lg-min){
                        float: left;
                        margin-right: 9%;
                        margin-bottom: 0;
                    }
                }

                &.symptoms-input{
                    display: inline-block;
                    width: 45%;
                    position: relative;

                    @media(min-width: @screen-lg-min){
                        float: left;
                        width: 30%;
                    }

                    label{
                        text-align: center;
                    }
                }

                &.diseases-list{
                    display: inline-block;
                    width: 45%;
                    margin-left: 9%;
                    position: relative;

                    @media(min-width: @screen-lg-min){
                        float: left;
                        width: 30%;
                    }

                    label{
                        text-align: center;

                        &.text-or{
                            position: absolute;
                            top: 40px;
                            left: -14%;
                            z-index: 1;
                            @media(min-width: @screen-lg-min){
                                left: -18%;
                            }
                        }
                    }
                }

                .submit{
                    @media(min-width: @screen-sm-min){
                        width: 262px;
                    }
                }
            }
        }
    }

    h2{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;

        @media(min-width: @screen-sm-min){
            text-align: left;
        }
    }

    .symptoms-input{
        position: relative;

        .symptomsAutoComplete{
            position: absolute;
            top: 70px;
            left: 0;
            width: 100%;
            max-height: 190px;
            overflow: auto;
            background-color: @white-bg;
            z-index: 3;

            ul{
                list-style-type: none;
                background-color: #fff;

                li{
                    color: @black;
                    text-align: left;
                    padding: 2px 5px;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: @blue-bg;
                    }
                }
            }
        }
    }

    .form-box{
        margin-bottom: 25px;
        text-align: center;

        @media(min-width: @screen-sm-min){
            text-align: left;

            &.text-center{
                text-align: center;
            }
        }

        .nice-radio{
            display: inline-block;

            label{
                cursor: pointer;
            }
        }

        &.secend{
            margin-bottom: 13px;
        }

        input[type="radio"] {
            display:none;
        }

        input[type="radio"]:checked + label {
            &.nice{
                background-color: @blue-bg;
                border: 1px @blue-bg solid;
                color: @white;
                font-weight: bold;
            }
        }

        label{
            font-family: 'SolomonSans-SemiBold';
            display: block;
            margin-bottom: 8px;
            font-size: 16px;
            text-align: center;

            @media(min-width: @screen-sm-min){
                text-align: left;

                &.text-center{
                    text-align: center;
                }
            }

            &.nice{
                margin-bottom: 0px;
                width: 110px;
                height: 38px;
                padding-top: 7px;
                display: inline-block;
                background-color: @white-bg;
                color: @main;
                border: 1px @gray solid;
                text-align: center;
                float: left;
                font-weight: normal;
            }
        }

        input, select{
            color: @main;
            border: 1px @gray solid;
            height: 38px;
            width: 100%;
            padding: 1px 14px 0 14px;
            background-color: @white-bg;

            &.submit {
                color: @white;
                background-color: @blue-dark-bg;
                border: 1px @blue-dark-bg solid;
                width: 100%;
                font-weight: bold;
                height: 50px;
                font-size: 18px;

                @media(min-width: @screen-sm-min){
                    width: 70%;
                }

                &:active{
                    background-color: @white;
                    color: @black;
                    border: none;
                }
            }
        }

        &.nice-select-box{

        }
        .select-wraper-container{
            position: relative;

            .select-wraper{
                color: @main;
                border: 1px @gray solid;
                height: 38px;
                width: 100%;
                padding: 1px 30px 0 14px;
                background-color: @white-bg;
                position: relative;
                white-space: nowrap;
                word-wrap: normal;
                cursor: pointer;

                span{
                    line-height: 38px;
                    display: block;
                    width: 96%;
                    overflow: hidden;
                    display: block;
                }

                i{
                    position: absolute;
                    right: 15px;
                    top: 12px;
                    font-size: 12px;
                    z-index: 2;
                }
            }

            ul{
                position: absolute;
                width: 100%;
                max-height: 200px;
                top: 39px;
                border: 1px @gray solid;
                left: 0;
                list-style-type: none;
                overflow-y: scroll;
                overflow-x: hidden;
                background-color: #fff;
                z-index: 2;
                
                @media(min-width: @screen-lg-min){
                    width: 110%;
                }

                li{
                    cursor: pointer;
                    display: block;
                    background-color: #fff;
                    padding: 1px 5px;
                    word-wrap: normal;
                    white-space: nowrap;
                    overflow: hidden;
                    color: @main;
                    
                    &:hover{
                        background-color: @blue-bg;
                    }
                }
            }
        }
    }
}

#breadcrumb {
    display: none;
    background-color: #27343f;
    height: 43px;
    margin-bottom: 40px;
    @media (min-width: @screen-sm-min) {
        display: block;
    }
    ul {
        list-style-type: none;
        padding: 0;
        li {
            color: #fff;
            float: left;
            font-family: 'SolomonSans-Normal';
            font-size: 11px;
            font-weight: normal;
            line-height: 43px;
            margin-right: 5px;
            a {
                color: #fff;
            }
        }
    }
}

.list-box{
    list-style-type: none;

    > li{
        display: block;
        border: 1px solid @gray;
        padding: 24px 30px;
        margin-bottom: 8px;
        .box-shadow(0px 5px 35px -13px rgba(0,0,0,0.75));

        &:last-child{
            margin-bottom: 47px;
        }


        h2{
            font-size: 22px;
            cursor: pointer;
            line-height: 26px;
            margin: 0;

            &:before{
                font-family: 'FontAwesome';
                color: @gray;
                float: right;
                content: '\f078';
                cursor: pointer;
                font-size: 12px;
            }

            &.active{
                &:before {
                    content: '\f077';
                }
            }
        }

        .content{
            display: none;
            border-top: 1px solid @gray;
            padding-top: 25px;
            margin-top: 24px;

            .border{
                margin-top: 30px;
                display: none;

                &.active{
                    display: block;
                }

                @media(min-width: @screen-sm-min){
                    border-left: 1px solid @gray;
                    margin-top: 0px;
                }
            }

            .medicine-list{
                list-style-type: none;

                li{
                    padding: 11px;
                    background-color: #f3f3f3;
                    margin-bottom: 10px;
                    cursor: pointer;

                    &.active{
                        color: @green-dark;
                        background-color: transparent;
                        font-weight: bold;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}