.advertice{
    text-align: center;
    margin-bottom: 30px;

    aside{
        display: inline-block;
        text-align: left;
    }
}

.helpfull-info {
    margin-bottom: 30px;

    h2 {
        color: @black;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 40px;
    }

    .help-box{
        padding-top:15px;
        padding-bottom:15px;


        article{
            .box-shadow(0px 5px 35px -13px rgba(0,0,0,0.75));
            border: 1px @gray solid;

            &.disise{
                .image {
                    background-image: url('../images/oko.jpg');
                }
            }

            &.exam{
                .image {
                    background-image: url('../images/badanie.jpg');
                }
            }

            &.medicine{
                .image {
                    background-image: url('../images/lek.jpg');
                }
            }

            &.info{
                .image {
                    background-image: url('../images/kropelka.jpg');
                }
            }


            .content{
                padding: 12px 15px 10px 15px;

                @media(min-width: @screen-md-min){
                    padding: 25px 30px 30px 25px;
                }

                h3{
                    color: @black;
                    margin-bottom: 25px;
                    margin-top: 0;
                    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
                        min-height: 80px;
                    }
                }

                .read-more{
                    float: right;
                }
            }

            .image {
                width: 100%;
                height: 250px;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }

}

.head-banner{
    height: 475px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: 17% -185px;
    background-repeat: no-repeat;

    @media(min-width: @screen-sm-min){
        background-position: 35% 50%;
        height: 585px;
        margin-bottom: 30px;
    }

    &.home-banner{
        background-image: url('../../assets/images/banner.jpg');
    }

    &.search-banner{
        background-image: url('../../assets/images/banner.jpg');
    }
}

.search-box{
    padding: 23px 14px 15px 14px;
    margin-top: 70px;
    height: 520px;
    background-color: @red-bg;
    border: 1px @gray solid;
    color: @white;

    @media(min-width: @screen-sm-min){
        padding: 33px 38px 0 38px;
        margin-top: 30px;
    }

    h2{
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;

        @media(min-width: @screen-sm-min){
            text-align: left;
        }
    }

    .form-box{
        margin-bottom: 25px;
        text-align: center;

        @media(min-width: @screen-sm-min){
            text-align: left;

            &.text-center{
                text-align: center;
            }
        }

        .nice-radio{
            display: inline-block;
        }

        &.secend{
            margin-bottom: 13px;
        }

        input[type="radio"] {
            display:none;
        }

        input[type="radio"]:checked + label {
            &.nice{
                background-color: @blue-bg;
                border: 1px @blue-bg solid;
                color: @white;
                font-weight: bold;
            }
        }

        label{
            font-family: 'SolomonSans-SemiBold';
            display: block;
            margin-bottom: 8px;
            text-align: center;

            @media(min-width: @screen-sm-min){
                text-align: left;

                &.text-center{
                    text-align: center;
                }
            }

            &.nice{
                margin-bottom: 0px;
                width: 110px;
                height: 38px;
                padding-top: 7px;
                display: inline-block;
                background-color: @white-bg;
                color: @main;
                border: 1px @gray solid;
                text-align: center;
                float: left;
            }
        }

        input, select{
            color: @main;
            border: 1px @gray solid;
            height: 38px;
            width: 100%;
            padding: 1px 14px 0 14px;
            background-color: @white-bg;

            &.submit {
                color: @white;
                background-color: @blue-dark-bg;
                border: 1px @blue-dark-bg solid;
                width: 100%;
                font-weight: bold;
                height: 50px;

                @media(min-width: @screen-sm-min){
                    width: 70%;
                }
            }
        }
    }
}

