.advertice{
    border-top: 1px solid @gray;
    border-bottom: 1px solid @gray;
    text-align: center;
    padding: 20px 0 25px 0;
    margin-bottom: 30px;

    aside{
        display: inline-block;
        text-align: left;
    }
}

.helpfull-info {
    margin-bottom: 30px;

    h2 {
        color: @black;
        text-align: center;
        margin-bottom: 15px;
        margin-top: 0;
        line-height: 40px;
    }

    .help-box{
        padding-top:15px;
        padding-bottom:15px;


        article{
            .box-shadow(0px 5px 35px -13px rgba(0,0,0,0.75));
            border: 1px @gray solid;

            &.disise{
                .image {
                    background-image: url('../images/oko.jpg');
                }
            }

            &.exam{
                .image {
                    background-image: url('../images/badanie.jpg');
                }
            }

            &.medicine{
                .image {
                    background-image: url('../images/lek.jpg');
                }
            }

            &.info{
                .image {
                    background-image: url('../images/kropelka.jpg');
                }
            }


            .content{
                padding: 25px 30px 30px 25px;

                h3{
                    color: @black;
                    margin-bottom: 25px;
                    margin-top: 0;
                }

                .read-more{
                    float: right;
                }
            }

            .image {
                width: 100%;
                height: 250px;
                background-size: cover;
                background-position: 50% 50%;
                background-repeat: no-repeat;
            }
        }
    }

}

.search-box{
    padding: 33px 38px 0 38px;
    margin-top: 30px;
    height: 520px;
    background-color: @red-bg;
    border: 1px @gray solid;
    color: @white;

    h2{
        margin-top: 0px;
        margin-bottom: 30px;
    }

    .form-box{
        margin-bottom: 25px;

        &.secend{
            margin-bottom: 13px;
        }
        
        input[type="radio"] {
            display:none;
        }

        input[type="radio"]:checked + label {
            &.nice{
                background-color: @blue-bg;
                border: 1px @blue-bg solid;
                color: @white;
                font-weight: bold;
            }
        }

        label{
            display: block;
            font-weight: normal;
            margin-bottom: 8px;

            &.nice{
                margin-bottom: 0px;
                width: 110px;
                height: 38px;
                padding-top: 7px;
                display: inline-block;
                background-color: @white-bg;
                color: @main;
                font-weight: normal;
                border: 1px @gray solid;
                text-align: center;
                float: left;
            }
        }

        input, select{
            color: @main;
            border: 1px @gray solid;
            height: 38px;
            width: 100%;
            padding: 1px 14px 0 14px;
            background-color: @white-bg;

            &.submit {
                color: @white;
                background-color: @blue-dark-bg;
                border: 1px @blue-dark-bg solid;
                width: 70%;
                font-weight: bold;
                height: 50px;
            }
        }
    }


}

