#cookie-consent{
    position: fixed;
    bottom: 0px;
    padding: 18px 0;
    background-color: @white-bg;
    z-index: 100;
    width: 100%;
    
    .consent{
        padding: 0 100px;
        
        .text{
            float: left;
            width: 90%;
        }
        
        .cross{
            float: left;
            font-size: 96px;
            line-height: 75px;
            
            a{
                color: @gray;
                text-decoration: none;
            }
        }
    }
}