.disease {
	h1 {
		color: @dark-gray;
		font-size: 40px;
		font-family: 'PlayfairDisplay';
		font-weight: bold;
		line-height: 65px;
		margin: 0 0 20px 0;
		text-align: center;
	}
	.disease-choice {
		list-style-type: none;
		margin: 0 auto 38px auto;
		width: 470px;
		li {
			float: left;
			height: 100px;
			width: 235px;
			&.active {
				background-color: #40bcef;
				a {
					color: @white-bg;
					font-weight: bold;
				}
			}
			a {
				color: #a8a8a8;
				display: block;
				font-family: 'SolomonSans';
				font-size: 18px;
				font-weight: normal;
				line-height: 100px;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.child {
			background: url('../images/search_child.png') #dfdfdf 0 0 no-repeat;
			a {
				padding-left: 18%;
			}
		}
		.adult {
			background: url('../images/search_adult.png') #dfdfdf 0 0 no-repeat;
			a {
				padding-right: 14%;
				text-align: right;
			}
		}
	}
	.disease-list {
		list-style-type: none;
		padding: 0;
		li {
			border: 1px solid @border-gray;
			-webkit-box-shadow: 0px 3px 6px 1px #cacaca;
			box-shadow: 0px 3px 6px 1px #cacaca;
			float: left;
			margin: 0 0 8px 0;
			width: 100%;
			.name {
				color: #000000;
				cursor: pointer;
				display: block;
				font-size: 24px;
				font-family: 'PlayfairDisplay';
				font-weight: bold;
				padding: 24px 2% 22px 3%;
			}
		}
	}
}