.home-banner{
    background-image: url('../../assets/images/banner.jpg');
    background-size: cover;
    background-position: 20% 50%;
    background-repeat: no-repeat;
    height: 585px;
    margin-bottom: 30px;
}

.home {
    h1{
        color: @red;
    }
    
    .content{
        text-align: justify;
    }
}
