body {
    font-size: 16px;
    line-height: 22px;
    color: @main;
}

h1 {
    font-size: 55px;
    line-height: 65px;
    font-family: 'Playfair Display';
    font-weight: bold;
}

h2 {
    font-size: 40px;
    line-height: 44px;
    font-family: 'Playfair Display';
    font-weight: bold;
}

h3 {
    font-size: 36px;
    line-height: 40px;
    font-family: 'Playfair Display';
    font-weight: bold;
}

.read-more {
    color: @red;
    
    &:after {
        font-family: 'FontAwesome';
        content: ' \f105';
    }
    
    &:hover, &:active, &:focus{
        color: @red;
        text-decoration: none;
    }
}

.line-hr {
    display: block;
    margin: 0;
    width: 70px;
    height: 3px;
    background-color: #000;
    
    &.red{
        background-color: @red;
    }
}

.p-top-10 {
    padding-top: 10px;
}