.medicine {
	.more-medicine {
		list-style-type: none;
		padding: 0;
		li {
			border: 1px solid #cacaca;
			float: left;
			width: 25%;
			a {
				&:hover {
					text-decoration: none;
				}
			}
			img {
				display: block;
				margin: 0 auto;
			}
			span {
				display: block;
				text-align: center;
			}
			.text {
				border-top: 1px solid #cacaca;
				padding: 20px 0 12px 0;
				.drug-name {
					color: #282828;
					font-size: 24px;
					font-family: 'PlayfairDisplay';
					font-weight: bold;
					line-height: 35px;
				}
				.see-more {
					color: #fa5456;
					font-family: 'SolomonSans';
					font-size: 15px;
					font-weight: normal;
					line-height: 35px;
				}
			}
		}
	}
}