<div id="cookie-consent" {% if app.request.cookies.has('cookie-consent') %}style="display: none"{% endif %}>
    <div class="container consent">
        <div class="text">
            <b>Nasza witryna stosuje pliki "Cookies"</b>. W celu świadczenia usług na najwyższym 
            poziomie, w tym w sposób dostosowany do indywidualnych potrzeb naszych użytkowników, 
            stosujemy narzędzia do zbierania danych. W każdym czasie można dokonać zmiany ustawień 
            dotyczących tych narzędzi. <a href="http://wszystkoociasteczkach.pl/polityka-cookies" target="_blank">Więcej szczegółwów w "Polityce Cookies"</a>
        </div>
        <div class="cross">
            <a href="#" id="close-cookie">&times;</a>
        </div>
    </div>
</div>