<div class="popup-intro" {% if app.request.cookies.has('doctor-statement') %}style="display: none"{% endif %}>
    <div class="container content clearfix">
        <h1>Oświadczenie</h1>
        <p>
            Wejście do serwisu dla lekarzy medycyny wymaga potwierdzenia oświadczenia widocznego na stronie. Jeśli nie spełniasz wyżej wymienionych warunków kliknij przycisk Anuluj. 
        </p>
        <div class="box-form">
            <input type="checkbox" name="accept" id="accept">
            <label for="accept">Oświadczam, że jestem lekarzem medycyny.</label>
        </div>
        <div class="buttons">
            <button id="statement-cancel">Anuluj</button>
            <button id="statement-ok">Akceptuj</button>
        </div>
    </div>
</div>