<div class="popup-intro" style="z-index: 9998">
    <div class="window">
    <p>Oświadczenie</p>
    <div>
      Wejście do serwisu dla farmaceutów i techników farmacji wymaga potwierdzenia oświadczenia widocznego na stronie. Jeśli nie spełniasz niżej wymienionych warunków kliknij przycisk Anuluj. 
    </div>
    <div class="oswiadczenie">
      <input type="checkbox" name="_accept" id="_accept">
      <label for="_accept">Oświadczam, że jestem farmaceutą lub technikiem farmacji.</label>
    </div>
    <div class="buttons">
      <a href="#" class="btn btn-red pull-left cancel-button"><span>Anuluj</span></a>
      <a href="#" class="btn btn-blue pull-right accept-button"><span>Akceptuj</span></a>
    </div>
    </div>
</div>