{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Disease:index{% endblock %}

{% block body %}
    <div class="row disease">
        <div class="container">
            <h1>Wybierz pacjenta</h1>
            <ul>
                <li><a title="" href="">Dziecko</a></li>
                <li><a title="" href="">Dorosły</a></li>
            </ul>
            <ul>
                <li>
                    <span>Urazy</span>
                    <div></div>
                </li>
                <li>
                    <span>Bolesne „czerwone oko” i jednoczesne znaczne pogorszenie ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span>Objawy okulistyczne sugerujące nagły stan neurologiczny</span>
                    <div></div>
                </li>
                <li>
                    <span>Nagłe pogorszenie ostrości wzroku bez objawów „czerwonego oka”</span>
                    <div></div>
                </li>
                <li>
                    <span>Objawy oczne wymagające konsultacji okulistycznej</span>
                    <div></div>
                </li>
                <li>
                    <span>Obrzęki powiek</span>
                    <div></div>
                </li>
                <li>
                    <span>Wytrzeszcz</span>
                    <div></div>
                </li>
                <li>
                    <span>Dwojenie obrazu</span>
                    <div></div>
                </li>
                <li>
                    <span>Schorzenia, których objawy wymagają różnicowania z chorobami nowotworowymi</span>
                    <div></div>
                </li>
                <li>
                    <span>Pogorszenie ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span>Zez</span>
                    <div></div>
                </li>
                <li>
                    <span>„Czerwone oko” bez jednoczesnego pogorszenia ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span>Łzawienie</span>
                    <div></div>
                </li>

            </ul>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':0, 'exam':1, 'medicine':1, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
