{% extends "AppBundle::layout.html.twig" %}

{% block title %}AppBundle:Disease:index{% endblock %}

{% block body %}
    <div class="row disease">
        <div class="container">
            <h1>Wybierz pacjenta</h1>
            <ul class="disease-choice">
                <li><a title="" href="">Dziecko</a></li>
                <li><a title="" href="">Dorosły</a></li>
            </ul>
            <ul class="disease-list">
                <li>
                    <span class="name">Urazy</span>
                    <div></div>
                </li>
                <li>
                    <span  class="name">Bolesne „czerwone oko” i jednoczesne znaczne pogorszenie ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Objawy okulistyczne sugerujące nagły stan neurologiczny</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Nagłe pogorszenie ostrości wzroku bez objawów „czerwonego oka”</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Objawy oczne wymagające konsultacji okulistycznej</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Obrzęki powiek</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Wytrzeszcz</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Dwojenie obrazu</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Schorzenia, których objawy wymagają różnicowania z chorobami nowotworowymi</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Pogorszenie ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Zez</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">„Czerwone oko” bez jednoczesnego pogorszenia ostrości wzroku</span>
                    <div></div>
                </li>
                <li>
                    <span class="name">Łzawienie</span>
                    <div></div>
                </li>

            </ul>
        </div>
    </div>
    <!--Advertice -->
    {{ include('AppBundle:common:_advertice.html.twig') }}
    <!--Advertice end-->
    <!--Helpfull informations -->
    {{ include('AppBundle:common:_helpfullInformations.html.twig', {'show':{'disise':0, 'exam':1, 'medicine':1, 'info':0}}) }}
    <!--Helpfull informations end-->
{% endblock %}
